.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px; /* Updated max-width */
  padding: 0px;
}

.label {
  color: white;
  font-size: 18px;
  margin-bottom: 2px;
}

.inputWrapper {
  position: relative;
  width: 100%;
}

.input {
  width: 100%;
  padding: 10px;
  padding-right: 40px; /* Space for the icon */
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
  color: white;
  background-color: var(--input-inner-color);
}

.input:focus {
  border-color: #fe6c00;
  box-shadow: 0 0 5px #fe6c00;
}

.icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: white;
}

.icon:hover {
  color: #ccc;
}

.error {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

/* Responsive Styles */
@media screen and (max-width: 600px) {
  .container {
      max-width: 100%; /* Full width for smaller screens */
      padding: 0px;
  }

  .input {
      font-size: 14px; /* Slightly smaller text for small screens */
      padding: 8px;
  }

  .icon {
      right: 8px;
  }
}

@media screen and (max-width: 400px) {
  .label {
      font-size: 12px; /* Adjust label size for small devices */
  }

  .input {
      font-size: 14px;
      padding: 6px;
  }

  .error {
      font-size: 10px;
  }
}
