.dropdown-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    padding: 0px;
}

.dropdown-label {
    font-size: 12px;
    color: white;
    margin-bottom: 5px;
}

.dropdown-select {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    color: white; /* White text */
    background-color: var(--input-inner-color); /* Black background */
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    appearance: none; /* Removes default styles */
    cursor: pointer;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

/* Focus & Hover Effect */
.dropdown-select:focus,
.dropdown-select:hover {
    border-color: #fe6c00;
    box-shadow: 0 0 5px #fe6c00;
}

/* Custom arrow styling */
.dropdown-select::-ms-expand {
    display: none; /* Hide default arrow in IE/Edge */
}

/* Dropdown option styles */
.dropdown-select option {
    background-color: black;
    color: white;
}

/* Responsive Styles */
@media screen and (max-width: 600px) {
    .dropdown-container {
        max-width: 100%;
        padding: 0px;
    }

    .dropdown-select {
        font-size: 12px;
        padding: 8px;
    }
}
